.chat-input {
  margin: 20px;
  display: flex;
  align-items: center;
  &__actions {
    display: flex;
    align-items: center;
    margin-left: 15px;
  }
  &__smile-btn {
    margin-right: 14px;
  }

  .ant-btn-circle {
    box-shadow: none;
    background: none !important;
    &::after {
      display: none;
    }

  }

  button {
    svg {
      color: #202020;
      cursor: pointer;
      transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    }
    &:hover {
      svg {
        opacity: 1;
      }
    }
  }
}